li{margin-bottom:12px;}
.kcik{color:#6af;}
br{margin-bottom:4px;}
.ghost{color:#ccc;}
.alert{color:#f00;}
#last-update{font-family:monospace;}
.Q{color:#a325ff;}
.AGATES{color:#0d0;font-weight:bold;}
.new{background-color:#ff0;}
a{color:#00f;}

/* teaching */
.term{font-family:monospace;}
.information{font-family: monospace;}
.lecture-date{color:#aaa;}
.in-preparation{color:#ddd;}
